<h3>Connected clients: {{$connectedClients}}</h3>

<h1>Cryptocurrencies
  <span class={{blink ? 'updated' : 'updated updated-hidden'}} />
</h1>

<div id="legend">
  {{#each $currencies as currency}}
    <span on:click='store.toggleCurrencySymbol(currency.symbol)' class="{{currency.active===false ? 'disabled' : 'ok'}}">
      {{currency.symbol}}
    </span>
  {{/each}}
</div>

{{#each activeCurrencies as currency}}
  <ChartPanel 
    symbol={{currency.symbol}} 
    name={{currency.name}} 
    series={{currencySeriesMapped[currency.symbol].map(item => item.value)}}
    labels={{currencySeriesMapped[currency.symbol].map(item => item.timestamp)}}
    />
{{/each}}

<script>
  import ChartPanel from './ChartPanel.html'
  import currencies from './currencies.json'

  export default {
    data(){
      return {
        blink: false,
      }
    },
    oncreate() {
      this.observe('$currencySeries', this.handleUpdates)
    },
    components: {
      ChartPanel,
    },
    methods: {
      handleUpdates: function () {
        this.set({blink:true})
        setTimeout(() => this.set({blink:false}), 1500)
      }
    },
    computed: {
      activeCurrencySymbols: ($currencies) => {
        let symbols = $currencies
        .filter(currency => currency.active)
        .map(currency => currency.symbol)
        return symbols
      },
      activeCurrencies: ($currencies) => {
        return $currencies.filter(currency => currency.active)
      },
      currencySeriesMapped: (activeCurrencySymbols, $currencySeries) => {
        let ret = {}
        activeCurrencySymbols.forEach((symbol) => {
          ret[symbol] = []
          $currencySeries.forEach((values) => {
            ret[symbol].push({value:values[symbol], timestamp:values.timestamp})
          })
          
        })
        return ret
      }
    }
  }
</script>

<style>
  #legend {
    margin-top: 1rem;
  }

  #legend span {
    display: inline-block;
    margin-right: 1.2rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    background: #8BC34A;
    border-radius: .2rem;
    padding: 0.2rem .5rem;
    color: #33691E;
    cursor: pointer;
  }
  #legend span.disabled {
    opacity: 0.5;
  }
  .updated {
    width: 1.25rem;
    height: 1.25rem;
    color: #8BC34A;
    background: #8BC34A;
    box-shadow: 0 0 11px #8BC34A;
    transition: opacity 0.25s;
    opacity: 1;
    margin-left: 0.5rem;
    display: inline-block;
    border-radius: 1.25rem;
  }
  .updated-hidden {
    opacity: 0;
  }
</style>