<div class="chartPanel">
  <h2>{{name}} ({{symbol}})</h2>
  <div class={{chartClassName}}></div>
</div>

<script>
  import 'chartist/dist/chartist.min.css'
  import Chartist from 'chartist'

  function getReadableTimestamp(timestamp) {
    if (!timestamp) return ''

    const parts = new Date(timestamp).toLocaleTimeString().split(' ')[0].split(':')

    return parts[0]+':'+parts[1]
  }

  export default {
    data(){
      return {
        symbol: '',
        name: '',
        labels: ['Mon', 'Tue'],
        series: [
          [5, 2]
        ],
      }
    },
    oncreate() {
      this.chart = null
      this.observe('series', this.update)
    },
    methods: {
      createChart: function () {
        let className = '.'+this.get('chartClassName')

        this.chart = new Chartist.Line(className, {
          labels: this.get('labels'),
          series: [this.get('series')],
        },
        {
          showPoint: false,
          height: '300px',
          axisX: {
            labelInterpolationFnc: function(value, index) {
              return index % 10 === 0 ? getReadableTimestamp(value) : null;
            }
          },
        })
      },
      update: function (){
        if(!this.chart) {
          this.createChart()
          return
        }
        this.chart.update({labels: this.get('labels'), series: [this.get('series')]})
      }
    },
    computed: {
      chartClassName: (symbol) => {
        return symbol + '-chart'
      }
    }
  }
</script>
<style>
.chartPanel {
  display: inline-block;
  width: 100%;
  min-height: 300px;
}

@media only screen and (min-width:600px) { 
  .chartPanel {
    width: 50%
  }
}

@media only screen and (min-width:1024px) { 
  .chartPanel {
    width: 33%
  }
}

@media only screen and (min-width:1280px) { 
  .chartPanel {
    width: 25%
  }
}
</style>