<div class="wrapper">
  <h1 on:click='console.log("Clicked Other.html")'>This is other component! {{$current}}</h1>
  <button on:click='store.resetCurrent()'>Reset current</button>
</div>

<style>
  .wrapper {
    border: 4px solid #33ff33;
    padding: 1rem;
  }
  h1 {
    color: #00ccff;
  }
</style>